# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/

# ---- Virtualenv ----
.venv/
venv/
ENV/
env/

# ---- Django ----
*.log
local_settings.py
db.sqlite3
staticfiles/

# ---- Environment variables (secrets) ----
.env
.env.*

# ---- OS / Editor ----
.DS_Store
.vscode/
.idea/

# ---- Test / tooling ----
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
